
Projeto/ProjetoIntegrador4-main/controllers/__pycache__/educador_controller.cpython-312.pyc
Projeto/ProjetoIntegrador4-main/controllers/__pycache__/educando_controller.cpython-312.pyc
Projeto/ProjetoIntegrador4-main/controllers/__pycache__/login_controller.cpython-312.pyc
