body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('imgs/fundo.jpeg') center/cover no-repeat fixed;
    color: #fff;
}

#secao-fotos {
    display: none;
}

.container {
    position: absolute;
    top: 55%;
    right: 36%;
    transform: translate(50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
}

img {
    margin-top: -265px;
    margin-bottom: -35px;
    margin-left: -21px;
}

h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 18px;
}

label{
    margin-bottom: 8px;
}

button {
    font-size: 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #0af;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}