<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Controle de</title>
  
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
  
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700"
      rel="stylesheet"
    />
  
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles.css') }}" />
  </head>

  <body>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand mb-4">
            <a href="#"><img src="static/img/logo.png" alt="Menu"></a>
          </li>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Dados</a>
          </li>
          <li>
            <a href="#">Histórico</a>
          </li>
        </ul>
      </div> 
      <div class="content-area">
        <div class="container-fluid">
          <div class="main">
            <div class="row sparkboxes mt-4 mb-4">
              <div class="col-md-2">
                <div class="box box1 first-row-box">
                  <h2>Pedidos de Alçadas Pendentes:</h2>
                  <p id="count1">1</p>
                  <div id="spark1"></div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="box box2 first-row-box">
                  <h2>Aprovações por E-mail Pendentes:</h2>
                  <p id="count2">4</p>
                  <div id="spark2"></div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="box box3 first-row-box">
                  <h2>Aprovações por Comitê Pendentes:</h2>
                  <p id="count3">2</p>
                  <div id="spark3"></div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="box box4 first-row-box">
                  <h2>Aprovações do Comitê Pendentes:</h2>
                  <p id="count4">5</p>
                  <div id="spark4"></div>
                </div>
              </div>
              <div class="table-container">
                <div class="row mt-4 mb-4 row-2">
                  <div class="col-md-6">
                    <div class="box table-box scrollable-table">
                      <h2>Alçadas Pendentes</h2>
                      {{ alcadas|safe }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="box table-box scrollable-table">
                      <h2>Cadastro por E-mail Pendentes</h2>
                      {{ email|safe }}
                    </div>
                  </div>
                </div>
                <div class="row mt-4 mb-4 row-3">
                  <div class="col-md-6">
                    <div class="box table-box scrollable-table">
                      <h2>Cadastros por Comitê Pendentes</h2>
                      {{ comite|safe }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="box table-box scrollable-table">
                      <h2>Cadastros de Fictícios Pendentes</h2>
                      {{ ficticios|safe }}
                    </div>
                  </div>
                </div>
              
                <div class="row mt-4 mb-4 row-4">
                  <div class="col-md-6">
                    <div class="box table-box scrollable-table">
                      <h2>Ajustes Pendentes</h2>
                      {{ ajustes|safe }}
                    </div>
                  </div>
                </div>
              </div>
  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
      <script src="../../../../dist/apexcharts.js"></script>
      <script src="assets/data.js"></script>
      <script src="assets/scripts.js"></script>
  
      <script></script>
    </body>
  </html>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="{{ url_for('static', filename='dist/apexcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/data.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/scripts.js') }}"></script>

    <script>
      // Código jQuery para mostrar/ocultar o menu lateral
      $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  $(document).ready(function() {
  var rowCount1 = $('.table-box:contains("Alçadas Pendentes") tbody tr').length;
  $('#count1').text(rowCount1);

  var rowCount2 = $('.table-box:contains("Cadastro por E-mail Pendentes") tbody tr').length;
  $('#count2').text(rowCount2);

  var rowCount3 = $('.table-box:contains("Cadastros por Comitê Pendentes") tbody tr').length;
  $('#count3').text(rowCount3);

  var rowCount4 = $('.table-box:contains("Cadastros de Fictícios Pendentes") tbody tr').length;
  $('#count4').text(rowCount4);
});
  
    </script>
  </body>
</html>