<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesindex.css') }}" />
</head>

<body>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <br>
      <div class="logo-ofc text-center"></div>
      <ul class="sidebar-nav">
          <li class="sidebar-brand mb-4">
              <a href="menu"><Menu></a>
            </li>
            <li>
              <a href="home">Home</a>
            </li>
            <li>
              <a href="dados">Dados</a>
            </li>
            <li>
              <a href="FrequenciaVisualizar">Nota e Frequencia</a>
            </li>
            <li>
              <a href="#">Avaliar</a>
              <ul>
                <li><a href="{{ url_for('educando.AlunosAutonomia') }}">Autonomia</a></li>
                <li><a href="{{ url_for('educando.AlunosEnsino') }}">Ensino</a></li>
                <li><a href="{{ url_for('educando.AlunosClima') }}">Clima Escolar</a></li>
                <li><a href="{{ url_for('educando.AlunosInfra') }}">Infraestrutura</a></li>
                <li><a href="{{ url_for('educando.AlunosGestao') }}">Gestão</a></li>
            </ul>
            </li>
      </ul>
    </div>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <div class="imagem-fixa">
    </div>
    <div class="login-box">
        <h2>REDEFINIR SENHA</h2>
        <form method="post" action="/login/login">
            <div class="textbox">
                <input type="text" placeholder="Insira o CPF do usuario" name="user_CPF" required>
            </div>
            <div class="textbox">
                <input type="date" placeholder="Insira a Data de Nascimento do usuario" name="user_data" required>
            </div>
            <div class="textbox">
                <input type="password" placeholder="Nova Senha" name="password" required>
            </div>
            <div class="textbox-conta">
            </div>
            <br>
            <input type="submit" class="btn" value="REDEFINIR SENHA">
        </form>
    </div>
</body>

</html>