<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" type="text/javascript"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesindex.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="/Projeto/ProjetoIntegrador4-main/static/css/styles.css">
        <link rel="stylesheet" href="/Projeto/ProjetoIntegrador4-main/static/css/stylesindex.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>  
    </head>
    <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <br>
                <div class="logo-ofc text-center"></div>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand mb-4">
                        <a href="menu"><Menu></a>
                    </li>
                    <li>
                        <a href="home">Home</a>
                    </li>
                    <li>
                        <a href="dados">Dados</a>
                    </li>
                    <li>
                        <a href="{{ url_for('educador.FrequenciaEnviar') }}">Nota e Frequencia</a>
                    </li>
                    <li>
                        <a href="#">Avaliar</a>
                        <ul>
                            <li><a href="{{ url_for('educador.EducadorCondTrab') }}">Trabalho</a></li>
                            <li><a href="{{ url_for('educador.EducadorEnsino') }}">Ensino</a></li>
                            <li><a href="{{ url_for('educador.EducadorClima') }}">Clima Escolar</a></li>
                            <li><a href="{{ url_for('educador.EducadorInfra') }}">Infraestrutura</a></li>
                            <li><a href="{{ url_for('educador.EducadorGestao') }}">Gestão</a></li>
                            <li><a href="{{ url_for('educador.EducadorParticipacao') }}">Participação</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            <form action="/submit_form" method="POST">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 left-menu">
                            <br>
                            <div class="left-menu-logo"></div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <br><br><br>
                            </div>
                            <h4>Clima Escolar</h4>
                            <p class="tutoform">Atribua notas de 0 a 10, sendo 0 "discordo completamente" e 10 "concordo plenamente", 
                              para as afirmações abaixo:</p>                            
                              <div class="row">
                                <div class="col-md-6">
                                    <p class="">1 - Você se sente acolhido e respeitado na escola?</p>
                                    <div class="btn-group" role="group" name="question56">
                                        <label class="btn-custom">
                                            <input type="radio" name="answer56" value="0">
                                            <span>0</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer56" value="1">
                                            <span>1</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer56" value="2">
                                            <span>2</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer56" value="3">
                                            <span>3</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer56" value="4">
                                            <span>4</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer56" value="5">
                                            <span>5</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer56" value="6">
                                            <span>6</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer56" value="7">
                                            <span>7</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer56" value="8">
                                            <span>8</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer56" value="9">
                                            <span>9</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer56" value="10">
                                            <span>10</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="">2 - Você se sente seguro na escola?</p>
                                    <div class="btn-group" role="group" name="question57">
                                        <label class="btn-custom">
                                            <input type="radio" name="answer57" value="0">
                                            <span>0</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer57" value="1">
                                            <span>1</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer57" value="2">
                                            <span>2</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer57" value="3">
                                            <span>3</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer57" value="4">
                                            <span>4</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer57" value="5">
                                            <span>5</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer57" value="6">
                                            <span>6</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer57" value="7">
                                            <span>7</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer57" value="8">
                                            <span>8</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer57" value="9">
                                            <span>9</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer57" value="10">
                                            <span>10</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="">3 - Você tem um bom relacionamento com seus colegas e com a equipe diretiva?</p>
                                    <div class="btn-group" role="group" name="question58">
                                        <label class="btn-custom">
                                            <input type="radio" name="answer58" value="0">
                                            <span>0</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer58" value="1">
                                            <span>1</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer58" value="2">
                                            <span>2</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer58" value="3">
                                            <span>3</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer58" value="4">
                                            <span>4</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer58" value="5">
                                            <span>5</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer58" value="6">
                                            <span>6</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer58" value="7">
                                            <span>7</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer58" value="8">
                                            <span>8</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer58" value="9">
                                            <span>9</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer58" value="10">
                                            <span>10</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="">4 - Você se sente parte de uma comunidade de aprendizagem?</p>
                                    <div class="btn-group" role="group" name="question59">
                                        <label class="btn-custom">
                                            <input type="radio" name="answer59" value="0">
                                            <span>0</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer59" value="1">
                                            <span>1</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer59" value="2">
                                            <span>2</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer59" value="3">
                                            <span>3</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer59" value="4">
                                            <span>4</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer59" value="5">
                                            <span>5</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer59" value="6">
                                            <span>6</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer59" value="7">
                                            <span>7</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer59" value="8">
                                            <span>8</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer59" value="9">
                                            <span>9</span>
                                        </label>
                                        <label class="btn-custom">
                                            <input type="radio" name="answer59" value="10">
                                            <span>10</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-submit">
                    <button type="submit" value="Enviar">Enviar</button>
                </div>
            </form>
        </div>
    </body>
</html>