<html>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/Projeto/ProjetoIntegrador4-main/static/css/styles.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <head>
        <title>Formulário Qualidade Educação</title>
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 left-menu">
                  <br>
                  <div class="left-menu-logo">
  
                  </div>
                  
              </div>
              <div class="col-md-9">
                  <div class="row">
                          <br>
                          <br>
                          <br>             
                          
                  </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <p class="">Você acha que os alunos estão aprendendo e se desenvolvendo de forma satisfatória?</p>
                        <div class="btn-group" role="group"name="question41">
                            <input type="button" class="btn-custom" name="answer41" value="0">
                            <input type="button" class="btn-custom" name="answer41" value="1">
                            <input type="button" class="btn-custom" name="answer41" value="2">
                            <input type="button" class="btn-custom" name="answer41" value="3">
                            <input type="button" class="btn-custom" name="answer41" value="4">
                            <input type="button" class="btn-custom" name="answer41" value="5">
                            <input type="button" class="btn-custom" name="answer41" value="6">
                            <input type="button" class="btn-custom" name="answer41" value="7">
                            <input type="button" class="btn-custom" name="answer41" value="8">
                            <input type="button" class="btn-custom" name="answer41" value="9">
                            <input type="button" class="btn-custom" name="answer41" value="10">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="">Você tem autonomia para utilizar diferentes metodologias de ensino?</p>                       </p>
                        <div class="btn-group" role="group"name="question=42">
                            <input type="button" class="btn-custom" name="answer42" value="0">
                            <input type="button" class="btn-custom" name="answer42" value="1">
                            <input type="button" class="btn-custom" name="answer42" value="2">
                            <input type="button" class="btn-custom" name="answer42" value="3">
                            <input type="button" class="btn-custom" name="answer42" value="4">
                            <input type="button" class="btn-custom" name="answer42" value="5">
                            <input type="button" class="btn-custom" name="answer42" value="6">
                            <input type="button" class="btn-custom" name="answer42" value="7">
                            <input type="button" class="btn-custom" name="answer42" value="8">
                            <input type="button" class="btn-custom" name="answer42" value="9">
                            <input type="button" class="btn-custom" name="answer42" value="10">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6 ">
                        <p class="">Você incentiva a participação ativa dos educandos em sala de aula?</p>
                        <div class="btn-group" role="group"name="question43">
                            <input type="button" class="btn-custom" name="answer43" value="0">
                            <input type="button" class="btn-custom" name="answer43" value="1">
                            <input type="button" class="btn-custom" name="answer43" value="2">
                            <input type="button" class="btn-custom" name="answer43" value="3">
                            <input type="button" class="btn-custom" name="answer43" value="4">
                            <input type="button" class="btn-custom" name="answer43" value="5">
                            <input type="button" class="btn-custom" name="answer43" value="6">
                            <input type="button" class="btn-custom" name="answer43" value="7">
                            <input type="button" class="btn-custom" name="answer43" value="8">
                            <input type="button" class="btn-custom" name="answer43" value="9">
                            <input type="button" class="btn-custom" name="answer43" value="10">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="">Você promove o diálogo e a interação entre os educandos e com você?
                        </p>
                        <div class="btn-group" role="group"name="question44">
                            <input type="button" class="btn-custom" name="answer44" value="0">
                            <input type="button" class="btn-custom" name="answer44" value="1">
                            <input type="button" class="btn-custom" name="answer44" value="2">
                            <input type="button" class="btn-custom" name="answer44" value="3">
                            <input type="button" class="btn-custom" name="answer44" value="4">
                            <input type="button" class="btn-custom" name="answer44" value="5">
                            <input type="button" class="btn-custom" name="answer44" value="6">
                            <input type="button" class="btn-custom" name="answer44" value="7">
                            <input type="button" class="btn-custom" name="answer44" value="8">
                            <input type="button" class="btn-custom" name="answer44" value="9">
                            <input type="button" class="btn-custom" name="answer44" value="10">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <p class="">Você considera as diferentes visões e experiências dos alunos em suas aulas?</p>
                        <div class="btn-group" role="group"name="question45">
                            <input type="button" class="btn-custom" name="answer45" value="0">
                            <input type="button" class="btn-custom" name="answer45" value="1">
                            <input type="button" class="btn-custom" name="answer45" value="2">
                            <input type="button" class="btn-custom" name="answer45" value="3">
                            <input type="button" class="btn-custom" name="answer45" value="4">
                            <input type="button" class="btn-custom" name="answer45" value="5">
                            <input type="button" class="btn-custom" name="answer45" value="6">
                            <input type="button" class="btn-custom" name="answer45" value="7">
                            <input type="button" class="btn-custom" name="answer45" value="8">
                            <input type="button" class="btn-custom" name="answer45" value="9">
                            <input type="button" class="btn-custom" name="answer45" value="10">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="">Você considera o contexto social e cultural dos alunos em suas aulas?
                        </p>
                        <div class="btn-group" role="group" name="question46">
                            <input type="button" class="btn-custom" name="answer46" value="0">
                            <input type="button" class="btn-custom" name="answer46" value="1">
                            <input type="button" class="btn-custom" name="answer46" value="2">
                            <input type="button" class="btn-custom" name="answer46" value="3">
                            <input type="button" class="btn-custom" name="answer46" value="4">
                            <input type="button" class="btn-custom" name="answer46" value="5">
                            <input type="button" class="btn-custom" name="answer46" value="6">
                            <input type="button" class="btn-custom" name="answer46" value="7">
                            <input type="button" class="btn-custom" name="answer46" value="8">
                            <input type="button" class="btn-custom" name="answer46" value="9">
                            <input type="button" class="btn-custom" name="answer46" value="10">
                        </div>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-md-6 ">
                        <p class="">Você trabalha com temas relevantes para a realidade dos alunos?</p>
                        <div class="btn-group" role="group"name="question47">
                            <input type="button" class="btn-custom" name="answer47" value="0">
                            <input type="button" class="btn-custom" name="answer47" value="1">
                            <input type="button" class="btn-custom" name="answer47" value="2">
                            <input type="button" class="btn-custom" name="answer47" value="3">
                            <input type="button" class="btn-custom" name="answer47" value="4">
                            <input type="button" class="btn-custom" name="answer47" value="5">
                            <input type="button" class="btn-custom" name="answer47" value="6">
                            <input type="button" class="btn-custom" name="answer47" value="7">
                            <input type="button" class="btn-custom" name="answer47" value="8">
                            <input type="button" class="btn-custom" name="answer47" value="9">
                            <input type="button" class="btn-custom" name="answer47" value="10">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="">Você promove a inclusão e a valorização da diversidade em sala de aula?
                        </p>
                        <div class="btn-group" role="group"name="question48">
                            <input type="button" class="btn-custom" name="answer48" value="0">
                            <input type="button" class="btn-custom" name="answer48" value="1">
                            <input type="button" class="btn-custom" name="answer48" value="2">
                            <input type="button" class="btn-custom" name="answer48" value="3">
                            <input type="button" class="btn-custom" name="answer48" value="4">
                            <input type="button" class="btn-custom" name="answer48" value="5">
                            <input type="button" class="btn-custom" name="answer48" value="6">
                            <input type="button" class="btn-custom" name="answer48" value="7">
                            <input type="button" class="btn-custom" name="answer48" value="8">
                            <input type="button" class="btn-custom" name="answer48" value="9">
                            <input type="button" class="btn-custom" name="answer48" value="10">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <p class=""> Você incentiva a autonomia e o protagonismo dos educandos em suas aulas?</p>
                        <div class="btn-group" role="group"name="question49">
                            <input type="button" class="btn-custom" name="answer49" value="0">
                            <input type="button" class="btn-custom" name="answer49" value="1">
                            <input type="button" class="btn-custom" name="answer49" value="2">
                            <input type="button" class="btn-custom" name="answer49" value="3">
                            <input type="button" class="btn-custom" name="answer49" value="4">
                            <input type="button" class="btn-custom" name="answer49" value="5">
                            <input type="button" class="btn-custom" name="answer49" value="6">
                            <input type="button" class="btn-custom" name="answer49" value="7">
                            <input type="button" class="btn-custom" name="answer49" value="8">
                            <input type="button" class="btn-custom" name="answer49" value="9">
                            <input type="button" class="btn-custom" name="answer49" value="10">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="">Você oferece aos alunos oportunidades para tomar decisões e serem protagonistas do processo de aprendizagem?

                        </p>
                        <div class="btn-group" role="group"name="question50">
                            <input type="button" class="btn-custom" name="answer50" value="0">
                            <input type="button" class="btn-custom" name="answer50" value="1">
                            <input type="button" class="btn-custom" name="answer50" value="2">
                            <input type="button" class="btn-custom" name="answer50" value="3">
                            <input type="button" class="btn-custom" name="answer50" value="4">
                            <input type="button" class="btn-custom" name="answer50" value="5">
                            <input type="button" class="btn-custom" name="answer50" value="6">
                            <input type="button" class="btn-custom" name="answer50" value="7">
                            <input type="button" class="btn-custom" name="answer50" value="8">
                            <input type="button" class="btn-custom" name="answer50" value="9">
                            <input type="button" class="btn-custom" name="answer50" value="10">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <p class="">Você utiliza métodos e estratégias de ensino que estimulam a criticidade e a criatividade dos educandos
                        </p>
                        <div class="btn-group" role="group" name="question51">
                            <input type="button" class="btn-custom" name="answer51" value="0">
                            <input type="button" class="btn-custom" name="answer51" value="1">
                            <input type="button" class="btn-custom" name="answer51" value="2">
                            <input type="button" class="btn-custom" name="answer51" value="3">
                            <input type="button" class="btn-custom" name="answer51" value="4">
                            <input type="button" class="btn-custom" name="answer51" value="5">
                            <input type="button" class="btn-custom" name="answer51" value="6">
                            <input type="button" class="btn-custom" name="answer51" value="7">
                            <input type="button" class="btn-custom" name="answer51" value="8">
                            <input type="button" class="btn-custom" name="answer51" value="9">
                            <input type="button" class="btn-custom" name="answer51" value="10">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="">
                            Você promove a interdisciplinaridade e a conexão entre diferentes áreas do conhecimento
                        </p>
                        <div class="btn-group" role="group"name="question52">
                            <input type="button" class="btn-custom" name="answer52" value="0">
                            <input type="button" class="btn-custom" name="answer52" value="1">
                            <input type="button" class="btn-custom" name="answer52" value="2">
                            <input type="button" class="btn-custom" name="answer52" value="3">
                            <input type="button" class="btn-custom" name="answer52" value="4">
                            <input type="button" class="btn-custom" name="answer52" value="5">
                            <input type="button" class="btn-custom" name="answer52" value="6">
                            <input type="button" class="btn-custom" name="answer52" value="7">
                            <input type="button" class="btn-custom" name="answer52" value="8">
                            <input type="button" class="btn-custom" name="answer52" value="9">
                            <input type="button" class="btn-custom" name="answer52" value="10">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <p class="">Você utiliza diferentes instrumentos de avaliação para acompanhar o processo de aprendizagem dos dos educandos

                        </p>
                        <div class="btn-group" role="group"name="question53">
                            <input type="button" class="btn-custom" name="answer53" value="0">
                            <input type="button" class="btn-custom" name="answer53" value="1">
                            <input type="button" class="btn-custom" name="answer53" value="2">
                            <input type="button" class="btn-custom" name="answer53" value="3">
                            <input type="button" class="btn-custom" name="answer53" value="4">
                            <input type="button" class="btn-custom" name="answer53" value="5">
                            <input type="button" class="btn-custom" name="answer53" value="6">
                            <input type="button" class="btn-custom" name="answer53" value="7">
                            <input type="button" class="btn-custom" name="answer53" value="8">
                            <input type="button" class="btn-custom" name="answer53" value="9">
                            <input type="button" class="btn-custom" name="answer53" value="10">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="">
                            Você considera a progressão individual de cada aluno na avaliação da aprendizagem
                        </p>
                        <div class="btn-group" role="group"name="question54">
                            <input type="button" class="btn-custom" name="answer54" value="0">
                            <input type="button" class="btn-custom" name="answer54" value="1">
                            <input type="button" class="btn-custom" name="answer54" value="2">
                            <input type="button" class="btn-custom" name="answer54" value="3">
                            <input type="button" class="btn-custom" name="answer54" value="4">
                            <input type="button" class="btn-custom" name="answer54" value="5">
                            <input type="button" class="btn-custom" name="answer54" value="6">
                            <input type="button" class="btn-custom" name="answer54" value="7">
                            <input type="button" class="btn-custom" name="answer54" value="8">
                            <input type="button" class="btn-custom" name="answer54" value="9">
                            <input type="button" class="btn-custom" name="answer54" value="10">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="">
                            Você se sente desafiado e motivado em sua prática docente
                        </p>
                        <div class="btn-group" role="group"name="question55">
                            <input type="button" class="btn-custom" name="answer55" value="0">
                            <input type="button" class="btn-custom" name="answer55" value="1">
                            <input type="button" class="btn-custom" name="answer55" value="2">
                            <input type="button" class="btn-custom" name="answer55" value="3">
                            <input type="button" class="btn-custom" name="answer55" value="4">
                            <input type="button" class="btn-custom" name="answer55" value="5">
                            <input type="button" class="btn-custom" name="answer55" value="6">
                            <input type="button" class="btn-custom" name="answer55" value="7">
                            <input type="button" class="btn-custom" name="answer55" value="8">
                            <input type="button" class="btn-custom" name="answer55" value="9">
                            <input type="button" class="btn-custom" name="answer55" value="10">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="btn-submit">
            <input type="submit" value="Enviar"/>
        </div>
        {% endblock %}
      </body>
    