<html>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/Projeto/ProjetoIntegrador4-main/static/css/styles.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <head>
        <title>Formulário Participação</title>
    </head>
    <body>
        {% extends "base.html" %}
{% block content %}

{% endblock %}
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 left-menu">
                  <br>
                  <div class="left-menu-logo">
  
                  </div>
                  
              </div>
              <div class="col-md-9">
                  <div class="row">
                          <br>
                          <br>
                          <br>             
                          
                  </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <p class="">Você participa de atividades de formação continuada?</p>
                        <div class="btn-group" role="group"name="question60">
                            <input type="button" class="btn-custom" name="answer60" value="0">
                            <input type="button" class="btn-custom" name="answer60" value="1">
                            <input type="button" class="btn-custom" name="answer60" value="2">
                            <input type="button" class="btn-custom" name="answer60" value="3">
                            <input type="button" class="btn-custom" name="answer60" value="4">
                            <input type="button" class="btn-custom" name="answer60" value="5">
                            <input type="button" class="btn-custom" name="answer60" value="6">
                            <input type="button" class="btn-custom" name="answer60" value="7">
                            <input type="button" class="btn-custom" name="answer60" value="8">
                            <input type="button" class="btn-custom" name="answer60" value="9">
                            <input type="button" class="btn-custom" name="answer60" value="10">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="">Você participa de decisões importantes da escola</p>
                        <div class="btn-group" role="group"name="question61">
                            <input type="button" class="btn-custom" name="answer61" value="0">
                            <input type="button" class="btn-custom" name="answer61" value="1">
                            <input type="button" class="btn-custom" name="answer61" value="2">
                            <input type="button" class="btn-custom" name="answer61" value="3">
                            <input type="button" class="btn-custom" name="answer61" value="4">
                            <input type="button" class="btn-custom" name="answer61" value="5">
                            <input type="button" class="btn-custom" name="answer61" value="6">
                            <input type="button" class="btn-custom" name="answer61" value="7">
                            <input type="button" class="btn-custom" name="answer61" value="8">
                            <input type="button" class="btn-custom" name="answer61" value="9">
                            <input type="button" class="btn-custom" name="answer61" value="10">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6 ">
                        <p class="">Você se sente valorizado e reconhecido por seu trabalho?
                        </p>
                        <div class="btn-group" role="group"name="question62">
                            <input type="button" class="btn-custom" name="answer62" value="0">
                            <input type="button" class="btn-custom" name="answer62" value="1">
                            <input type="button" class="btn-custom" name="answer62" value="2">
                            <input type="button" class="btn-custom" name="answer62" value="3">
                            <input type="button" class="btn-custom" name="answer62" value="4">
                            <input type="button" class="btn-custom" name="answer62" value="5">
                            <input type="button" class="btn-custom" name="answer62" value="6">
                            <input type="button" class="btn-custom" name="answer62" value="7">
                            <input type="button" class="btn-custom" name="answer62" value="8">
                            <input type="button" class="btn-custom" name="answer62" value="9">
                            <input type="button" class="btn-custom" name="answer62" value="10">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="">Você tem oportunidades de crescimento profissional?
                        </p>
                        <div class="btn-group" role="group"name="question63">
                            <input type="button" class="btn-custom" name="answer63" value="0">
                            <input type="button" class="btn-custom" name="answer63" value="1">
                            <input type="button" class="btn-custom" name="answer63" value="2">
                            <input type="button" class="btn-custom" name="answer63" value="3">
                            <input type="button" class="btn-custom" name="answer63" value="4">
                            <input type="button" class="btn-custom" name="answer63" value="5">
                            <input type="button" class="btn-custom" name="answer63" value="6">
                            <input type="button" class="btn-custom" name="answer63" value="7">
                            <input type="button" class="btn-custom" name="answer63" value="8">
                            <input type="button" class="btn-custom" name="answer63" value="9">
                            <input type="button" class="btn-custom" name="answer63" value="10">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="btn-submit">
            <input type="submit" value="Enviar" />
        </div>
      </body>