<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>

    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700"rel="stylesheet"/>

    <title>EducaAnalytics</title>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8 text-center">
                <h1> Home </h1>
                <img src="static/img/Prancheta1.png">
                <div class = "texto">
                <h5>Sobre Nós: <h5>
                <p>
                    O principal objetivo do EDUCA Analytics é fornecer uma plataforma útil para 
                    instituições de ensino, visando compreender os desafios encontrados ao buscar a 
                    qualidade educacional. Por meio das análises estatísticas, 
                    os responsáveis utilizarão seus resultados como feedbacks 
                    do desempenho escolar, fazendo com que ele saiba como pode 
                    melhorar sua instituição.
                    Tendo isso em vista, o EDUCA Analytics é 
                    capaz de analisar respostas educadores, 
                    educandos e funcionários da instituição de 
                    ensino e a partir delas fazer análises 
                    estatísticas sobre todos esses pontos, 
                    posteriormente, a diretoria poderá 
                    observar quais são as principais mudanças 
                    necessárias para a instituição. Espera-se 
                    também que com essa análise seja possível 
                    garantir uma melhor gestão de recursos e de 
                    pessoas para que a educação de qualidade seja alcançada.
                </p>
            </div>
        </div>
    </div>

            



        {% endblock %}
   
    </body>

