<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-img">
        <div class="texto-sobreposto">
            <div class="container">
                <br>
                <br>
                <div class="title-welcome">
                    Bem vindos ao
                </div>
                <span class="h5-header text-left">
                    EDUCA ANALYTICS
                </span>
                <button class="transparent-button">Sobre nós</button>
            </div>
        </div>
    </div>

    {% extends "base.html" %}
    {% block content %}
        <div class="row">
            <div class="col-md-2">

            </div>
         
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12 h5-body-title">
                        <br>
                        <br>
                        O QUE FAZEMOS?
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-1"> 
                    </div>
                    <div class="col-md-2">
                        <div class="statics-log">
                            <span class="staticsTittle-log">ESTATÍSTICA</span>
                        </div>
                        <div class="text-box-estatistica">
                            O EDUCA Analytics faz uma análise estatística abrangente das respostas de educadores, educandos e funcionários, usando técnicas avançadas para identificar padrões e áreas de melhoria no desempenho e gestão escolar.
                        </div> 
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <div class="school-log">
                            <span class="staticsTittle-log">PERSONAL</span>
                        </div>
                        <div class="text-box-estatistica">
                            Fornecemos feedback personalizado e direcionado com base na análise estatística, permitindo que a diretoria compreenda áreas específicas para melhorar a qualidade educacional, capacitando-os a tomar decisões informadas.
                        </div> 
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="gestao-log">
                            <span class="staticsTittle-log">GESTÃO</span>
                        </div>
                        <div class="text-box-estatistica">
                            Nosso objetivo é otimizar a gestão de recursos e pessoas na instituição de ensino, garantindo uma alocação eficaz e maximizando o potencial educacional por meio da análise estatística.
                        </div> 
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                        <div class="col-md-6">
                            <div class="aboutUs-tittleHome">
                                SOBRE NÓS
                            </div>
                            <br>
                            <div>
                                No EDUCA Analytics, nosso principal objetivo é oferecer uma plataforma indispensável para instituições de ensino. Com análises estatísticas detalhadas, ajudamos a compreender os desafios na busca pela qualidade educacional. Nossos insights são utilizados pelos gestores como feedbacks para melhorar o desempenho escolar e impulsionar mudanças necessárias. Analisando respostas de educadores, educandos e funcionários, garantimos uma gestão mais eficaz de recursos e pessoas, visando sempre a excelência na educação."
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="homeImag-body">
                            </div>
                        </div>
                </div>
        </div>
    {% endblock %}
</body>
</html>
