<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <div class="imagem-fixa">
    </div>
    <div class="login-box">
        <h2>FAÇA SEU LOGIN</h2>
        <form method="post" action="/login/login">
            <div class="textbox">
                <input type="text" placeholder="Insira o ID do usuario" name="user_id" required>
            </div>
            <div class="textbox">
                <input type="password" placeholder="Senha" name="password" required>
            </div>
            <div class="textbox-conta">
                <span>
                    não possui uma conta? <strong>Criar agora!</strong>
                </span>
                <span style="margin-left: 60px;">Esqueci senha</span>
            </div>
            <input type="submit" class="btn" value="Acessar">
        </form>
    </div>
</body>

</html>