<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Notas e Frequencias</title>
    <link rel="stylesheet" href="/Projeto/ProjetoIntegrador4-main/static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <header class="topo-pagina">
        <div class="container">
            <div class="row header">
                <div class="col-sm-6">
                    <h2 class="h2-formAluno">Notas e Frequência</h2>
                </div>
            </div>
        </div> 
        <br>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="input-text-procurarMateria" placeholder="Procurar matéria">
            </div>
            <div class="col-sm-4">
                <select class="input-text-filtroData">
                    <option value="filtro-por-data" selected>Filtrar por Data</option>

                </select>
            </div>
            <div class="col-sm-4">
                <button class="btn-buscar">BUSCAR</button>
            </div>
        </div>
        <br>
    
    </head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <div class="menu">
        <ul>
            <li><a href="#">NOTAS E FREQUÊNCIA</a></li>
            <li><a href="#">AVALIAR PROFESSORES</a></li>
            <li><a href="#">AVALIAR COORDENAÇÃO</a></li>
        </ul>
        <div class="row" style="margin-top: 550px; margin-left: 15px; color: white;">
            <div class="col-sm-6">
                <div class="icon-user"></div>
            </div>
            <div class="col-sm-6">
                <span>Olá, aline</span>
            </div>
        </div>
    </div>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th>Matéria</th>
                <th>Frequencia</th>
                <th>Nota</th>
                <th>Professor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Português</td>
                <td>100% de Frequência</td>
                <td>8,3</td>
                <td>Ozias</td>
            </tr>
            <tr>
                <td>Matematica</td>
                <td>100% de Frequência</td>
                <td>9</td>
                <td>Toshio</td>
            </tr>
            <tr>
                <td>Inglês</td>
                <td>87% de Frequência</td>
                <td>9</td>
                <td>Vinicius</td>
            </tr>
            <tr>
                <td>Quimíca</td>
                <td>97% de Frequência</td>
                <td>5</td>
                <td>Martinele</td>
            </tr>
            <tr>
                <td>Biologia</td>
                <td>80% de Frequência</td>
                <td>7</td>
                <td>Thiago</td>
            </tr>
            <tr>
                <td>Fisíca</td>
                <td>100% de Frequência</td>
                <td>10</td>
                <td>Elaine</td>
            </tr>

        </tbody>
    </table>

    <section class="controle-pags"> 
        
            <div btn-proxima-pag>
                <a class="nav-link" href="/Projeto/ProjetoIntegrador4-main/templates/formsFuncionariosInfraestrutura.html">
                <button class="btn-proxima-pag next">Proxima Pagina</button>
                </a>
                <br>
            </div>
        <section class = "controle-pags-num">
            <div btn-pag1-func>
                <a class="nav-link" href="">
                <button class="btn-pag1-func num atual">1</button>
                </a>        
            </div>
            <br>
        
            <div btn-pag2-func>
                <a class="nav-link" href="/Projeto/ProjetoIntegrador4-main/templates/formsFuncionariosInfraestrutura.html">
                <button class="btn-pag2-func num">2</button>
                </a>        
            </div>
            <br>
            
            <div btn-pag3-func>
                <a class="nav-link" href="/Projeto/ProjetoIntegrador4-main/templates/formsFuncionariosSatisfacao.html">
                <button class="btn-pag3-func num">3</button>
                </a>        
            </div>
            <br>
           
        </section>
            
    </section>
</body>
</html>
