body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.imagem-fixa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/imgLogin.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.icon-user {
  position: fixed;
  width: 25px;
  height: 25px;
  background-image: url("../img/account_box.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.text-user {
  left: 4px;
  color: white;
  top: -700px;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.topo-pagina {
  position: fixed;
  top: 50px;
  width: 65%;
  right: 190px;
  z-index: 800;
}
.h2-formAluno {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: 050e32;
}
.login-box {
  width: 400px;
  height: 350px;
  padding: 40px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: 150px;
}
.cadastro-box {
  width: 520px;
  height: 620px;
  padding: 40px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: 150px;
}
.button-cadastro {
  width: 120px;
  border-radius: 10px;
  background-color: #6c757d; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border-color: #6c757d; /* Cor da borda do botão */
}
.button-cadastro:hover {
  background-color: #3f4143; /* Cor de fundo do botão ao passar o mouse */
  border-color: #616161; /* Cor da borda do botão ao passar o mouse */
}
.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none;
}
.login-box h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #333;
  text-align: left;
}
.title-cadastro {
  font-size: 20px;
  color: 050e32;
}

.textbox {
  position: relative;
  margin-bottom: 30px;
}

.textbox input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  background: transparent;
  color: #555;
}
.textbox-conta {
  font-size: 13px;
  color: #555;
}

.btn:hover {
  background-color: #4d6ff7;
}

.selecionado {
  background: black;
  color: white;
}
.left-menu {
  background: linear-gradient(to bottom, #042d6b 70%, #050e32 30%);
  height: 110vh;
}
.left-menu .nav-link {
  color: white;
  transition: color 0.1s;
}
.left-menu .nav-link:hover {
  color: rgb(0, 0, 0);
}


.left-menu-logo {
  background-image: url("../img/Prancheta1.png");
  background-repeat: no-repeat;
}

.texto-superior {
  position: absolute;
  top: 150px;
  right: 565px;
  transform: translateX(-50%);
}

.btn-custom {
  background-color: #042d6b;
  color: white;
  border: none;
  border-radius: 1px;
  padding: 10px 10px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.btn-custom:hover {
  background-color: #2494fd;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-custom:active {
  transform: translateY(1px);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}


.btn-custom:disabled {
  background-color: #6c757d;
  color: #fff;
  cursor: not-allowed;
  opacity: 0.7;
}

.button-container button {
  padding: 10px 14px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  top: 250px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.h2-notaFrequencia {
  font-family: "Poppins", sans-serif;
  font-weight: 750;
  font-size: 23px;
}
.input-text-procurarMateria {
  width: 260px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eeeef4;
  color: #333;
  font-size: 14px;
  outline: none;
}
.input-text-filtroData {
  width: 260px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eeeef4;
  color: #333;
  font-size: 14px;
  outline: none;
}
.btn-buscar {
  width: 200px;
  background-color: #d60a0b;
  color: #fff;
  border: none;
  font-weight: 620;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}
/* Estilo para a tabela */

table body {
  overflow-y: auto;
  height: 200px;
}

table.scrolldown {
  width: 100%;
  border-spacing: 0;
}

::-webkit-scrollbar-thumb  { 
  width: 10px;

}


table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Estilo para o cabeçalho da tabela */
th {
  background-color: #f2f2f2;
  color: #d60a0b;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Estilo para as células de dados */
td {
  padding: 11px;
  border: 1px solid #ddd;
}
table.scrolldown {
  width: 68%;

  /* border-collapse: collapse; */
  border-spacing: 0;
}

table.scrolldown tbody,
table.scrolldown thead {
    display: block;
}

tbody td,
        thead th {
            width: 200px;
            /* border-right: 2px solid black; */
        }

table.scrolldown tbody {

  height: 200px;
 
  overflow-y: auto;
 
  overflow-x: auto;
  
}


/* Estilo para as linhas alternadas da tabela */
tbody tr:nth-child(even) {
  background-color: #ffffff;
}
.vertical-align-middle {
  display: flex;
  align-items: center;
}
.caixa-btn {
  border: 1px solid rgb(0, 0, 0) a1a;
}
/* Alinhamento à esquerda */
.text-left {
  text-align: left !important;
}

/* Alinhamento à direita */
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.teste-h3 {
  color: green;
  width: 500px;
}

/* estilo botões mudar pagina  */
.controle-pags {
  display: inline-block;
  align-items: left;
  position: absolute;
  margin: 0 auto;
  max-width: 1920px;
}

.controle-pags button {
  cursor: pointer;
}

.controle-pags button.next {
  padding: 10px 30px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  border: 0;
  border-radius: 20px;
  background-color: transparent;
  border: 0.5px solid #131f73;
}
.controle-pags button.num {
  padding: 5px 10px;
  font-size: medium;
  border: 0.5px solid #131f73;
  border-radius: 15%;
  border-width: 2px;
  background-color: transparent;
}

.controle-pags button.atual {
  color: white;
  background-color: #d60a0b;
  border: 0.5px solid #d60a0b;
  border-radius: 15%;
  border-width: 2px;
}

a.nav-link.controle-pags-num {
  display: inline-block;
}

.controle-pags-num button:hover {
  box-shadow: 0px 0px 3px #131f73;
  transform: scale(1.075);
  transition: 0.2s;
}

a.nav-link.btn-proxima-pag {
  display: inline-block;
}

.btn-proxima-pag:hover {
  box-shadow: 0px 0px 8px black;
  transform: scale(1.075);
  transition: 0.2s;
}
a.nav-link.btn-voltar-pag {
  display: inline-block;
}

.btn-voltar-pag:hover {
    box-shadow: 0px 0px 8px black;
    transform: scale(1.075);
    transition: 0.2s;
}

.btn-submit input{
    width: 100%;
    position: relative;
    margin: 25px 50px 0px 0px;
    padding: 10px 30px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    border: 0;
    border-radius: 20px;
    background-color: #042d6b;
    color: rgb(255, 255, 255);
}
.btn-submit input:hover {
    box-shadow: 0px 0px 8px black;
  transform: scale(1.075);
  transition: 0.2s;
}

.tutoform {
  color: grey;
  font-size: 1.25rem;
}

/* texto home */
.texto {
  align-items: center;
  display: flex;
  color: #000000;
}



